/* Lato Text Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Start Of Mobile Screen Size */

.sign-in {
    position: relative;
    background-color: #121111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #6A8199;
    font-family: 'Lato', sans-serif;
}

.sign-in img {
    width: 300px;
}

.sign-in-text-container {
    color: #ffffff;
    position: absolute;
}

.sign-in-text-container h1 {
    color: #ffffff;
    margin-right: 20px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: -40%;
    left: 0;
    right: 0;
}

.email-container {
    margin-right: 25px;
    margin-bottom: 25px;
}

.email-container p {
    margin-bottom: 10px;
    font-weight: bold;
}

.email-container input {
    outline: none;
    padding: 10px 35px 10px 15px;
    border-radius: 5px;
}

.password-container p {
    margin-bottom: 10px;
    font-weight: bold;
}

.password-input-section {
    display: flex;
    align-items: center;
}

.password-input-section input {
    outline: none;
    padding: 10px 35px 10px 15px;
    border-radius: 5px;
}

.password-input-section i {
    position: absolute;
    left: 75%;
    color: #C4C4C4;
    font-size: 16px;
}

.login-button {
    margin-right: 20px;
    text-align: center;
    margin-top: 40px;
}

.login-button button {
    width: 98%;
    text-decoration: none;
    color: #ffffff;
    background-color: #0ACF83;
    border-radius: 5px;
    padding: 10px 0;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
}

.sign-up-border-line {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

